body {
    background-color: #87cefa;
    margin: 0;
    font-size: 16px;
    font-family: Arial, sans-serif;
    height: 100%;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    height: calc(100vh - 70px);
}

.zonebleu {
    background-color: #4b8ecd;
    color: #fff;
}

.text-center {
    text-align: center;
}

.headerImg {
    height: 400px;
    width: 100%;
    background-image: url("simpsons-tv.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}

.matt {
    font-weight: bold;
    display: block;
    margin-left: auto;
    width: 270px;
    margin-right: auto;
    border: 2px solid #ffffff;
}

main {
    display: flex;
    flex-wrap: wrap;
    /* possible retour à la ligne si un enfant déborde*/
    align-items: flex-start;
    /* l'alignement vertical des enfants de main démarre en haut, et n'aura
    plus l'effet d'étirer (stretch) leur hauteur*/
    padding-top: 0;
    padding-bottom: 2em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    background-color: #fffee0;
}

article {
    width: 1400px;
    padding: 1em;
    font-size: 21px;
    line-height: 25px;
    margin: 0 auto;
    background-color: #fffee0;
    text-align: justify;
    margin: auto;
    flex: 3;
}

.flex3 {
    flex: 3;
}

.article2 {
    padding: 1em;
    width: 400px;
    margin-top: 110px;
    font-weight: bold;
    color: #ffffff;
    font-size: 18px;
    line-height: 25px;
    background-color: #4b8ecd;
    text-align: justify;
    text-justify: auto;
    flex: 1;
}

#titre {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
}

.titre {
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}

footer {
    color: #ffffff;
    background-color: #29539d;
    font-size: 20px;
    line-height: 10px;
    font-weight: bold;
}


li {
    display: inline-flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

h1 {
    width: 100%;
    color: black;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

#image-article {
    text-align: center;
    margin-left: 40px;
}

.paragraphe {
    margin: 1em 0;
}

.trop-large {
    width: 800px;
}

.padded-element {
    padding: 1em;
    margin: 0;
}

h2 {
    font-size: 40px;
    font-weight: bold;
    line-height: 55px;
    margin: 0;
    font-style: italic;
}

h3 {
    font-size: 20px;
    font-weight: normal;
    line-height: 35px;
    margin: 0;
    font-style: italic;
    margin-bottom: 1em;
}

.movie {
    width: 32%;
    border: 1px solid black;
}

.margintop10 {
    position: relative;
    top: 100px;
}

nav ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    ;
    list-style: none;
    width: 100%;
    justify-content: space-between;
}

#nav ul li:hover {
    background-color: blue;
}

nav a {
    padding: 1em;
    text-decoration: none;
}

nav .menu {
    display: flex;
    /*1*/
    flex-direction: row;
    /*2*/
    justify-content: space-between;
    /*3*/

    @media(max-width: 450px) {
        flex-flow: column wrap;
        /*4*/
    }
}

nav {
    background-color: #d3d3d5;
    color: black;
    display: flex;
    justify-content: space-between;
}

nav a {
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.box .row {
    border: 1px dotted #0313fc;
}

.box .row.header {
    flex: 0 1 auto;
}

.box .row.content {
    flex: 1 1 auto;
}